:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --black-text-color: #000000;
  --grey-data-color: rgba(255, 255, 255, 0.6);
  --icons-color: #afb1b8;
  --footer-soc-color: rgba(255, 255, 255, 0.1);

  --primary-background-color: #ffffff;
  --accent-background-color: #2f303a;
  --grey-background-color: #f5f4fa;
  --blue-background-color: #2196f3;
  --hover-background-color: #188ce8;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  background-color: var(--primery-background-color);
}
/* top line */
.logo {
  margin-right: 93px;
  color: var(--black-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-color {
  color: var(--accent-color);
}
/* top line Navigation */
.navigation {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contact-link {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* Псевдоэлемент after*/
.current {
  position: relative;
  display: inline-block;
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  

  display: inline-block;
  width: 100%;
  height: 4px;
  
  background-color: var(--blue-background-color);
  border-radius: 2px;
}

/* Стили для index.html */
/* section Hero */

.hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-background-color);
  background-image: linear-gradient(
      to left top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero-overlay.jpg");
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: var(--second-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/* button */
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--second-accent-color);
  background-color: var(--blue-background-color);
  text-align: center;
  cursor: pointer;
}
.button-service {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;

  font-style: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
}
.button-service:hover,
.button-service:focus {
  background-color: var(--hover-background-color);
}
.button-primary,
.button-secondary {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
}

/* section two. list of features */
.feature-list {
  display: flex;
}
.list-item {
  display: inline-block;
  margin-bottom: 30px;
  width: 270px;
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: var(--grey-background-color);
}
.icon-feature {
  display: flex;
  align-items: center;
}
/* width: 270px;
  height: 120px;
  background-size: 70px;
  background-position: center;*/

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-text {
  color: var(--secondary-text-color);
}

/* section three */
.section.no-padding {
  padding-top: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.occupation-list {
  display: flex;
}
.occupation-list .occupation-item:not(:last-child) {
  margin-right: 30px;
}

.imagine-position {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Позиционирование card-label */
.label-thumb {
  position: relative;
  display: flex;
}

.text-label {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-accent-color);
 
  background-color: rgba(47, 48, 58, 0.8);
}

/* section four. our team */
.team-background {
  background-color: var(--grey-background-color);
}
.team-list .decoration {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list .decoration:not(:last-child) {
  margin-right: 30px;
}
.team-list {
  display: flex;
}
.team-list > .decoration > .content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title,
.team-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-title {
  margin-bottom: 10px;
}
.team-description {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

/* svg social list*/
.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--icons-color);
  border-radius: 50%;
}
.svg-icon {
  fill: currentColor;
}
.social-list-link:hover,
.social-list-link:focus {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

/* Clients */
.clients-list {
  display:flex;
}
.clients-item {
  display: flex;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
}
.client-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--blue-background-color);
  border-radius: 4px;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  
  background-color: var(--accent-background-color);
}

.position-footer {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--second-accent-color);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.adress-link{
  color: var(--second-accent-color);
  font-style: normal;
}
.data {
  margin-top: 9px;
}
.contacts-link {
  color: var(--grey-data-color);
  font-style: normal;
  line-height: 1.71;
}

/* footer-socials svg*/
.contacts-block {
  margin-right: 70px;
}

.footer-soc-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  color: var(--second-accent-color);
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.footer-list {
  display: flex;
  justify-content: center;
}
.footer-item {
  display: flex;
}
.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--second-accent-color); 
  background-color: var(--footer-soc-color);
  border-radius: 50%;
}
.footer-svg {
  fill: currentColor;
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--blue-background-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

width: 528px;
height: 581px;
padding: 15px;
border-radius: 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

background-color: var(--second-accent-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}


/* Стили для portfolio.html */
/* button section */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}
.button-primary,
.button-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--hover-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-secondary {
  color: var(--primary-text-color);
  background-color: var(--grey-background-color);
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--second-accent-color);
  background-color: var(--hover-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* projects section*/
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects .projects-item {
  flex-basis: calc (100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background-color: var(--primary-background-color);
}
.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  cursor: pointer;
}

.card > .card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Position */
.card {
  position: relative;
  width: 370px;
}
.card-thumb {
  position: relative;
}

.card-thumb::before {
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-block;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  overflow: hidden;
  opacity: 0;
}
.card:hover .card-thumb::before,
.card:focus .card-thumb::before {
  opacity: 1;
}

.card-overlay {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--second-accent-color);
  
  display: flex;
  align-items: center;
  margin: 0;
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  opacity: 0;
}
.card:hover .card-overlay,
.card:focus .card-overlay {
  opacity: 1;
}
.text-overlay {
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
}




